{"name":"Мимоза","slug":"mimose","version":"1.0.4","orientation":"portrait","icon":"./assets/icon.png","userInterfaceStyle":"dark","backgroundColor":"#000000","splash":{"backgroundColor":"#000000"},"ios":{"supportsTablet":false,"bundleIdentifier":"com.mimose.app"},"android":{"adaptiveIcon":{"foregroundImage":"./assets/adaptive-icon.png","backgroundColor":"#000000"},"package":"com.mimose.app","permissions":["android.permission.RECORD_AUDIO"]},"web":{"bundler":"metro","output":"single","favicon":"./assets/favicon.png"},"plugins":[["expo-image-picker",{"photosPermission":"Мимозе нужен доступ к фото, чтобы вы могли поставить аватар и баннер профиля."}]],"sdkVersion":"51.0.0","platforms":["ios","android","web"]}